<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goodyun.tourismyun">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".SearchActivity" />

        <!--  -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".LogInActivity">
            <intent-filter>
                <action android:name="android.intent.action.Main" />

                <category android:name="android.intent.category.LAUNCHER" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <!--  -->

        <activity android:name=".MainPage1FragMiddle1" />
        <activity android:name=".MainPage1FragMiddle2" />
        <activity android:name=".MainPage1FragMiddle3" />
        <activity android:name=".MainPage1FragMiddle4" />
        <activity android:name=".MainPage1FragMiddle5" />
        <activity android:name=".MainPage1FragMiddle6" />
        <activity android:name=".MainPage1FragMiddle4ItemViewActivity" />
        <activity android:name=".MainPage1FragMiddle1ItemViewActivity" />
        <activity android:name=".MainPage1FragMiddle2ItemViewActivity" />
        <activity android:name=".MainPage1FragMiddle3ItemViewActivity" />
        <activity android:name=".MainPage1FragMiddle5ItemViewActivity" />
        <activity
            android:name=".MainPage1FragMiddle6ItemViewActivity"
            android:theme="@style/Theme.MyDialog" />
        <activity
            android:name=".MainPage3FragItemIvewActivity"
            android:theme="@style/Theme.MyDialog" />
        <activity android:name=".MainPage1FragBestItemViewActivity" />
        <activity android:name=".ImageVIewZoomActivity" android:theme="@style/Theme.MyDialog"></activity>
    </application>

</manifest>